<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Tweets about Songkick</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="tweets.css">
  </head>
  <body>
    <ul id="tweets">
      <% tweets.each do |tweet| %>
        <li class="tweet">
          <div class="image">
            <img src="<%= tweet['profile_image_url'] %>">
          </div>
          <% title = tweet['translation'] ? "title='from #{tweet['translation']['from_lang']}: #{tweet['translation']['translated_text']}'" : nil %>
          <div class="tweet-content" <%= title %>>
            <p>
              <span class="tweeter"><%= tweet['tweeter'] %></span>
              <span class="followers">
                (<span class="followers_count"><%= tweet['followers_count'] %></span> followers)
              </span>
            </p>
            <p>
              <span class="message">
                <%= tweet['message'] %>
              </span>
            </p>
            <p>
              <a href=<%= tweet['tweet_url'] %> class="time" target="_blank">
                <%= time_ago_in_words(tweet['time_posted']) + " ago" %>
              </a>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </body>
</html>
