<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Tweets about Songkick</title>
    <style type="text/css" media="screen">
      body {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F80046), to(#CE0340), color-stop(.85, #9C2B65));  
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.4em;
        text-shadow: 1px 1px 2px #EEE;
      }
    
    #tweets {
      margin-top: 10px;
      padding-left: 20px;
    }
    
    li {
      list-style: none;
    }
    
    p {
      padding: 0;
      margin: 0;
    }

    .tweet {
      background-color: white;
      border-radius: 5px;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
      margin: 10px 15px;
      padding: 5px;
    }
  
    .tweet:hover {
      background-color: rgba(255, 255, 255, .95);
      -webkit-box-shadow: 0px 0px 10px rgba(60, 0, 255, 1);
    }

    .image {
      background-color: grey;
      float: left;
      margin-right: 15px;
    }
    
    .image img {
      width: 48px;
      height: 48px;
    }
    
    .tweet-content {
      margin-left: 65px;
    }
  
    .tweeter {
      font-weight: bold;
    }
    
    .time {
      color: #999;
      font-size: small;
      font-style: italic;
    }
    
    a {
      text-decoration: none;
    }
    
    a:hover {
      color: #F80046;
      text-decoration: underline;
    }
    
  </style>
  </head>
  <body>
    <ul id="tweets">
      <% tweets.each do |tweet| %>
        <li class="tweet">
          <div class="image">
            <img src="<%= tweet['profile_image_url'] %>">
          </div>
          <% title = tweet['translation'] ? "title='from #{tweet['translation']['from_lang']}: #{tweet['translation']['translated_text']}'" : nil %>
          <div class="tweet-content" <%= title %>>
            <p>
              <span class="tweeter"><%= tweet['tweeter'] %></span>
              <span class="followers">
                (<span class="followers_count"><%= tweet['followers_count'] %></span> followers)
              </span>
            </p>
            <p>
              <span class="message">
                <%= tweet['message'] %>
              </span>
            </p>
            <p>
              <a href=<%= tweet['tweet_url'] %> class="time" target="_blank">
                <%= time_ago_in_words(tweet['time_posted']) + " ago" %>
              </a>
            </p>
          </div>
        </li>
      <% end %>
    </ul>
  </body>
</html>
